body{
  background-color: #F5F5F5;
}
#united_dynamic {
  .content_1 {
    background-color: #ffffff;
    width: 100%;
    max-width: 680px;
    .united_content {
      padding: 0 15px;
    }
  }
  .content_4 {
    margin-bottom: 1.3rem;
    padding-bottom: 0.5rem;
    background-color: #ffffff;
    position: relative;
    .image_bg {
      position: absolute;
      bottom: 60px;
      width: 100%;
    }
    .open-united {
      position: fixed;
      bottom: 0.2rem;
      z-index: 1000;
      .open_united {
        display: block;
        margin: 10px 0px 0 46px;
        padding: 0 8px;
        height: 34px;
        width: 5rem;
        border-radius: 34px;
        font-size: 14px;
        font-family: serif;
        line-height: 34px;
        background-color: #CB925F;
        color: #ffffff;
        text-align: center;
      }
    }
  }
  .sub_content_1 {
    width: 100%;
    max-width: 680px;
    margin-top: 15px;
    margin-bottom: 1.2rem;
  }
  .overflow {
    overflow: hidden;
  }
  .marginLR15 {
    margin: 0 15px;
  }
  .deMarginT10 {
    margin-top: -10px;
  }
}


